p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.rmdnote {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-image: url("images/note.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  min-height: 120px;
  color: #1a162dcc;
  background-color: #91CBD738;
  border-top: 7pt solid #a19ea936;
  max-width: 100%;
  line-height: 1.75em;
  font-size: 0.85em;
  letter-spacing: 1pt;
  margin-bottom: 1.5em;
}
